<div class="authform">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="form-group col-md-5">
        <span style="font-weight:bold;">* First Name </span>
        <%= f.text_field :first_name, :required => true, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group col-md-7">
        <span style="font-weight:bold;">* Last Name </span>
        <%= f.text_field :last_name, :required => true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <span style="font-weight:bold;">* Email </span>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <legend style="margin-bottom:0px;">Current Password</legend>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <legend style="margin-bottom:0px;">Password to Change</legend>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
